:root {
    --ff-primary: 'Palanquin', sans-serif;
    --ff-heading: 'Staatliches', sans-serif;
    --bg-primary: #EFF1FF;
    --bg-header: #8E9AAF;
    --bg-header-secondary: #CBC0D3;
    --bg-button: #FEEAFA;
    --fc-primary: #5a4b65;
    --fc-header: #FFFFFF;
    --fc-heading: #4A4E69;

    font-size: 62.5%;

    --fs-body: 2.0rem;
    --fs-heading: 4.0rem;
}


body {
    margin: 0;
    padding: 0;
    font-family: var(--ff-primary);
    background-color: var(--bg-primary);
    color: var(--fc-primary);
}

.page {
    max-width: 38.4rem;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;

    
    width: 100%;

    background-color: var(--bg-header);
}

header img {
    margin-top: 3.2rem;
}

header h1{
    background-color: var(--bg-header-secondary);
    width: 38.4rem;
    height: 4.9rem;
    font-family: var(--ff-heading);
    font-weight: 400;
    font-size: var(--fs-heading);
    line-height: 3.4rem;
    color: var(--fc-header);
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    letter-spacing: 0.05em;
}

main {
    display: grid;
    gap: 3.2rem;
}

main p {
    margin-bottom: 3.2rem;
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: var(--fs-body);
    line-height: 1.5rem;
 
    display: flex;
    align-items: center;
    text-align: center;

}

main img {
    width: 100%;
    height: auto;
    border-radius: 2rem;
       
}

.card {
    position: relative;
    font-family: var(--ff-heading);
}

.card img {
    transition: all 200ms;
    animation: downtop 1500ms 650ms backwards;
}

.card img:hover {
    transform: scale(1.1);
    opacity: 0.3;
}
    
.card h2 {
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;

    border-radius: 2rem;
    background-color: var(--bg-button);
    font-size: var(--fs-body);
    font-weight: 800;
    color: var(--fc-heading);
    padding: 0 2.4rem;
    height: 3.4rem;
    display: inline-flex;
    align-items: center;
    width: fit-content;

    animation: topdown 1500ms 650ms forwards;
}
    
@keyframes topdown {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes downtop {
    0% {
        opacity: 0;
        transform: translateY(15px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}